.specialties__wrapper {
    .specialties__item__wrapper {
        margin: 80px 12% 0 12%;

        .specialties__title {
            font-weight: 600;
        }

        .specialties__list {
            margin-bottom: 0;

            .specialties__item {
                list-style: none;
                border-bottom: 1px solid #eee;
                padding: 16px;

                .specialties__content {
                    display: flex;
                    align-items: center;
                    color: #000;
                    text-decoration: none;
                }

                .specialties__specialty__name {
                    margin: 0 0 0 10px;

                }
            }

            li:last-child {
                border: none;
            }
        }

    }
}