
.slick-list {
    margin: 0 -5px;
}
.slick-slide>div {
    padding: 0 5px;
}

.slick-prev, .slick-next {
    top: 46% !important;
}
.slick-prev:before {
    color: #000 !important;
}
.slick-next:before {
    color: #000 !important;
}

.background-color {
    background-color: #f5f5f5;
}

.carousel-container {
    padding: 18px 100px;;
    // border-top: 2px solid #efeef5;
    border-bottom: 3px solid #efeef5;
    .carousel-wrapper {
        width: 100%;
        height: 300px;

        .carousel-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 18px;
    
            .carousel-title {
                margin: 0;
                padding: 10px 10px 10px 0;
                font-weight: 600;
            }
    
            .carousel-more-btn,
            .carousel-more-btn-2,
            .carousel-more-btn-3 {
                min-width: 80px;
                border: none;
                outline: none;
                font-size: 12px;
                padding: 6px;
                margin: 0 4px;
                background-color: #ebebeb;
                border-radius: 2px; 
                
    
                &:hover {
                    background-color: rgb(217, 210, 210);
                }
            }
        }
    
        .carousel-item {
            display: inline-block;
            border: none;
            outline: none;
    
            .img-carousel-item {
                width: 100%;
                height: 150px;
                border-radius: 2px;
                cursor: pointer;
            }

            .link-carousel-item {
                font-size: 16px;
                font-weight: 500;
                color: #000;
                text-decoration: none;
                display: block;

                &:hover {
                    color: rgb(45, 54, 175);
                }
            }
        }    
    }
    
}

// 
// 
// 

// description

