.header-detail-page-container {
    width: 100%;
    height: 58px;
    background-color: #45c3d2;
    position: fixed;
    top: 0;
    left: 0;
    .header-detail-page-content { 
        height: 100%;      
        padding: 0px 142px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header-detail-icon-back {
            width: 24px;
            height: 24px;
            padding: 4px;
            display: flex;
            fill: #fff;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }
        .header-detail-nav-help {
            display: flex;
            
            .header-detail-help {
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }
                .header-detail-help-icon{
                    width: 16px;
                    height: 16px;
                    fill: #fff;
                }

                .header-detail-help-text {
                    margin: 0;
                    font-size: 11px;
                    color: #fff;
                }
            }
            .header-detail-navbar-icon {
                width: 28px;
                height: 28px;
                padding: 4px;
                fill: #fff;
                margin-left: 14px;
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}