.doctor__app__wrapper {
    .doctor__app__title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        margin-top: 15px;
        color: #0071ba;
        text-align: center;
    }
}