.detail-doctor-container  {
    

    .detail-doctor-information {
        margin: 58px 142px 0;
        padding: 26px 0 22px;

        .detail-doctor-position {
            margin: auto 0 auto -75px;
            font-size: 13px;

            .detail-doctor-intro {
                font-weight: 600;
            }

            .detail-doctor-description {
                margin: 0;
            }
        }

        .detail-doctor-img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .detail-doctor-overview {
        padding: 14px 142px;
        border-top: 1px solid #ccc;
        background-color: #f9f9f9;
    }
}