.help__wrapper {
    .help__content {
        margin: 106px 0 160px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .help__qr__code__img {
            margin: 20px 0;
            width: 300px
        }

        .help__google__play__img,
        .help__app__store__img {
            width: 250px;
        }

        .help__app__store__img {
            margin: 10px 0;
        }

        a {
            text-decoration: none;
            color: #45c3d2;
        }

        .help__contact {
            display: flex;
            position: fixed;
            bottom: 20px;
            right: 20px;

            .help__contact__messenger,
            .help__contact__phone,
            .help__contact__email {
                border: 1px solid transparent;
                border-radius: 50%;
                padding: 12px;
                background-color: #0A7CFF;
                margin: 10px;
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }

                .help__contact__messenger--img,
                .help__contact__phone--img,
                .help__contact__email--img {
                    width: 28px;
                    fill: #fff;
                }
            }

            .help__contact__phone {
                border-radius: 17px;
            }

            .help__contact__phone__wrapper {
                position: relative;

                .help__contact__phone--number {
                    color: #fff;
                    background-color: #0A7CFF;
                    padding: 10px 8px;
                    position: absolute;
                    top: 17px;
                    right: 82px;
                    border-radius: 8px;
                    cursor: pointer;
                    &::after {
                        position: absolute;
                        content: "";
                        top: 10px;
                        right: -18px;
                        border-left: 12px solid #0A7CFF;
                        border-right: 12px solid transparent;
                        border-top: 12px solid transparent;
                        border-bottom: 12px solid transparent;
                    }

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}