
.appointment__wrapper {
    .appointment__content {
        margin-top: 100px;

        .appointment__title {
            font-weight: 600;
            margin: 0 142px;

        }
        .appointment__schedule {
            font-size: 15px;
            color: #a94442;
            text-align: center;
            margin-top: 20px;
        }
    }
}