.header-homepage-container {
    width: 100%;
    height: 78px;
    background-color: transparent;

    .header-homepage-inner {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 60px;

        .wrapper-logo {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;

            .header-bars-icon {
                width: 20px;
                height: 20px;
                fill: #969495;
                margin-right: 10px;
            }

            .header-logo {
                width: 160px;
                height: 40px;
                cursor: pointer;

               
            }
        }

        .header-help-language {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #969495;

            .header-help {
                display: flex;
                margin-right: 18px;

                .header-help-icon {
                    width: 16px;
                    height: 16px;
                    fill: #969495;
                    margin-right: 4px;
                    cursor: pointer;
                }
    
                p {
                    margin: 0;
                    font-size: 14px;
                    cursor: pointer;
                }
            }
            .header-language {
                display: flex;
                align-items: center;
                justify-content: center;

                .header-language-icon {
                    width: 20px;
                    height: 20px;
                    fill: #757173;
                    cursor: pointer;
                }

                p {
                    padding-left: 4px;
                    margin: 0;
                    cursor: pointer;
                }
            }
        }
    }
}

.header-desc {
    width: 50%;
    display: flex;
    justify-content: center;

    .header-desc-item {
        padding: 0 4px;
        margin: 0 14px;
        cursor: pointer;
    }

    h5 {
        margin: 0;
        font-size: 12px;
        font-weight: 700;
    }
    p {
        margin: 0;
        padding: 0;
        font-size: 10px;
    }
}


